body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
.imgFront{
  width: 100%;
  height: auto;
}
.imageTd{
  width: 100px;
}
.table_Phone{
  text-align: center;
}
.headerContainer_Show{
display: grid;
}
.headerContainer{
  display: flex;
}
.searchSection{
  left: 70%;
}
.ui.container{
  position: relative;
  /*width: 400px;*/
}
.headerText{
  text-align: center;
  top: 0;
  left: 50%;

}

